* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-link {
  margin-right: 10px;
  text-decoration: none;
    color: #63452f;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.nav-link:hover {
color: #000;
    border-radius: 5px;
    background-color: rgb(255, 241, 223);
    box-shadow: 0 0 8px  rgba(0, 0, 0, 0.2);
}

nav {
    position: fixed;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    z-index: 2;
    background-color: #fec195;
    font-size: 17px;
    font-weight: 500;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #63452f;
    padding: 5px 10px;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #000;
    border-radius: 5px;
    background-color: rgb(255, 241, 223);
    box-shadow: 0 0 8px  rgba(0, 0, 0, 0.2);
  }
  